UserName=""
Pass=""
Connection=""

#Checkout folder
DestDir=%USERPROFILE%\Documents\Sources

#Repositories list to update
Repos=(repo1 repo2 repo3)

repoDir=https://github.com/stadub/CmdScripts

#inject libraries repo dir
comon_Path=%USERPROFILE%\Documents\Sources\common
comon_Name=common

#create directory lint to common folder instead checking out each to separate folder 
ExtractCommon=Yes

#Visual studio Version
VSVersion=12.0